.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  max-width: 1328px;
  height: 74px;
  margin: 0 auto; /* Center the navbar */
  border-radius: 15px;
}

h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #343a40;
  width: 144px;
  height: 24px;
  line-height: 24px;
  color: #343A40;
}

.img {
  display: flex;
  align-items: center;
  gap: 24px;
  width: auto;
}

.heart-icon {
  width: 26px;
  height: 24px;
}

.shop-icon {
  width: 24px;
  height: 24px;
}

.hamburger {
  display: none; /* Hide hamburger by default */
  font-size: 24px;
  cursor: pointer;
}

.toggle-icon {
  display: none; /* Hide toggle icon by default */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .nav {
    padding: 16px;
  }

  .img {
    display: none; /* Hide icons by default on small screens */
  }

  .hamburger {
    display: block; /* Show hamburger icon on small screens */
  }

  .toggle-icon {
    display: inline-block; /* Show toggle icon only on small screens */
    margin-left: auto; /* Align toggle icon to the right */
  }

  .img.active {
    display: flex; /* Show icons when active */
  }
}
