.footer {
  width: 100%;
  background: #343a40;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; /* Changed from absolute to relative for natural flow */
  top: auto; /* Removed the fixed top positioning */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

/* Newsletter Container */
.Newsletter-container {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

/* Payment Container */
.payment-container {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.payment-container h5 {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 16px;
}

.paypal,
.applepay,
.credit-debit {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}

/* Links Container */
.link-container {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

/* Social Media Links Container */
.socialmedia-link {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.fb,
.ig,
.lin,
.x {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.fb {
  background-image: url("../../assets/images/fb.png");
}

.ig {
  background-image: url("../../assets/images/ig.png");
}

.lin {
  background-image: url("../../assets/images/lin.png");
}

.x {
  background-image: url("../../assets/images/x.png");
}

/* Copyright */
.copyright {
  flex-basis: 100%;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-top: 24px;
}
